/* Universal Styles */
/* The spec image only gives one font size:22px. Therefore,*/
/* All of the font in this site is sized 22px.*/
/* You can tell me I'm wrong, but I am going off of the specs.*/
/* Sometimes in life, the customer does not get what they wanted.*/
/* They get what they ask for.*/
*{
  background-color: black;
  color: seashell;
  font-family:Helvetica;
  font-size:22px;
  justify-content:center;
}

/* I have tried to organize everything alphabetically. I did so by hand,*/
/* so there may be some mistakes. Please forgive me.*/
.blackbackground{
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:100%; /*Almost certainly unnecessary*/
}

.bottom_part{
  background-color:transparent;
  background-image:url('../images/img-locations-background.jpg');
  display:flex;
  height:500px;
  flex-direction:column;
  opacity:0.9; /*Specs say opacity 0.9, but setting it globally looked bad*/
  text-align:center;
}

.bottom_part h2{
  background-color:transparent;
}

h2,
h3,
h4{
  padding: 10px;
  margin: 0;
}

/* h5 only shows up at the very bottom of the page, where it needed */
/* special spacing. So it got special spacing. Good for h5! */
h5{
  padding:15px;
  margin:0;
}

.contact_info{
  align-items:center;
  display:flex;
  flex-direction:column;
  height:200px;
  text-align:center;
}

.footer{
  text-align:left;
  padding-left:20px;
}

/* .header was the true nightmare. Bryan, or maybe Elise, an advisor, wasn't */
/* really able to  explain how to write this correctly, so they just gave me */
/* a bunch of code. So if you asked me to explain it to you, I would not be */
/* able to. I am proving so right now. */
.header{
  align-items:center;
  border-bottom: 1px solid seashell;
  background-color: black;
  display: inline-flex;
  font-weight: bold;
  flex-basis:auto;
  justify-content:center;
  position:fixed;
  height: 69px;
  margin:0px auto;
  top:0px;
  width: 100%;
  z-index: 1;
}

.header img {
  height:50px;
  padding-left: 10px;
}

.header nav{
  align-items:flex-end;
  flex-direction:column;
  flex-grow:1;
  justify-content: center;
  text-align:right;
}

.header nav a{
  color: seashell;
  flex-grow:1;
  padding:  0px 20px; /* are you proud of me for doing the padding in one line*/
}

.location_individual{
  display:flex;
  flex-direction:column;
  margin-left:20px; /* Does doing the margin in two lines void the pride */
  margin-right:20px; /* you felt from doing the padding in one earlier? */
  opacity:1;
  width:300px;
  z-index:10;
}

.location_list{
  align-items:flex-start;
  background-color:transparent;
  display:flex;
  flex-direction:row;
  text-align:center;
  opacity:1;
}

main{
  display:flex;
  flex-direction:column;
  margin: auto;
  opacity: 0.9;
  padding-top: 69px; /* To offset fixed header */
  /* that comment above, "To offset fixed header," came directly from an */
  /* advisor. There must be a way to write this code so that that padding */
  /* is not needed. I wish I knew it. */
  width: 1200px;
}

.middle_image{
  display:flex;
  flex-direction:column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.middle_image img{
  opacity:0.9;
  height:200px;
  width:300px;
}

.middle_part{
  display:flex;
  flex-direction:column;
  margin: 100px;
  text-align:center;
}

.row_of_images{
  display: flex;
  flex-wrap: wrap;
}

.top_part{
  align-items: center;
  background-image:url('../images/img-mission-background.jpg');
  display:flex;
  flex-direction:column;
  height:700px;
  margin:auto;
  opacity:0.9;
  position:relative;
}
/* It's over */
