/* Universal Styles */
*{
  border: 1px solid red;
  background-color: black;
  color: seashell;
  font-family:Helvetica;
  font-size:22px;
  opacity: 0.9;
  justify-content:center;

}

.blackbackground{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  background-color:black;
  opacity:1;
  width:100%;
}

.bottom_part{
  background-image:url('../images/img-locations-background.jpg');
  display:flex;
flex-direction:row;
}

h2,
h3,
h4 {
  padding: 10px;
  margin: 0;
}

.contact_info{
  height:200px;
}

.footer{
  text-align:left;
}

.header{
  align-items:center;
  border-bottom: 1px solid seashell;
  background-color: black;
  display: inline-flex;
  font-weight: bold;
  flex-basis:auto;
  justify-content:center;
  position:fixed;
  height: 69px;
  margin:0px auto;
  top:0px;
  width: 100%;
  z-index: 1;
}

.header img {
  height:50px;
  padding-left: 10px;
}

.header nav{
  align-items:flex-end;
  flex-direction:column;
  flex-grow:1;
  justify-content: center;
  text-align:right;
}

.header nav a{
  color: seashell;
  flex-grow:1;
  padding:  0px 20px;
}

.location_individual{
  width:300px;
  margin-left:20px;
  margin-right:20px;
}

.location_list{
  display:inline-block;
  text-align:center;
}

.main{
  flex-direction:column;
  margin: auto;
  opacity: 0.9;
  padding-top: 69px; /* To offset fixed header */
  width: 1200px;
}

.middle_image img{
  height:200px;
  width:300px;
}

.middle_part{
  display:flex;
  margin: auto;
}

.middle_part row_of_images{
  display:block;
  flex-direction:column;

}

.top_part{
  align-items: center;
  background-image:url('../images/img-mission-background.jpg');
  display:flex;
  flex-direction:column;
  height:700px;
  margin:auto;
  position:relative;
}


















main{
  display:flex;
}

.column.large {
  display:flex;
  flex-direction:column;
  width: 630px;
}

.column.medium {
  display:flex;
  width: 300px;
}

.column.small {
  display:flex;
  width: 240px;
}

.row.stories{
  display:inline-flex;
}

.column.story_left{
  flex-grow: 1;
}

.column.story_right{
  flex-grow: 1;
}
